@using System.Globalization
@using System.Web
@model RookieShop.Storefront.Areas.Product.Models.Products.ProductViewModel

<div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
    <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
        <img class="w-full" loading="lazy" src="@(Model.ImageUrl ?? "/imgs/product/default-image.png")" alt="@Model.Name"/>
    </div>
    <div class="mt-6 sm:mt-8 lg:mt-0">
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl">
            @Model.Name
        </h1>
        <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
            <p class="text-2xl font-medium text-gray-500 line-through sm:text-3xl">
                @($"{Model.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))}")
            </p>
            <p class="text-2xl font-extrabold text-gray-900 sm:text-3xl">
                @($"{Model.PriceSale.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))}")
            </p>
        </div>

        <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
            <a
                href="#"
                title=""
                class="text-white mt-4 sm:mt-0 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none flex items-center justify-center"
                role="button">
                <img loading="lazy" class="w-5 h-5 -ms-2 me-2" src="/imgs/product/cart.svg" alt="cart"/>
                Add to cart
            </a>
        </div>

        <hr class="my-6 md:my-8 border-gray-200"/>

        <p class="mb-6 text-gray-500 text-justify">
            @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
        </p>
    </div>
</div>