@model RookieShop.Storefront.Areas.Product.Models.Feedbacks.FeedbackRequest

@{
    const string userRole = "Customer who bought the product and want to leave a review";
}

<div class="p-2 rounded-3xl">
    <form asp-area="Product" asp-controller="Product" asp-action="AddFeedback" class="max-w-md mx-auto mt-16 p-4 bg-white shadow rounded">
        <h2 class="text-2xl font-bold mb-4">Your review</h2>
        <input type="hidden" asp-for="ProductId" value="@Model.ProductId"/>
        <input type="hidden" asp-for="AccountId" value="@Model.AccountId"/>
        <div class="mb-4">
            <label class="block mb-1">Rating</label>
            <div class="flex justify-center">
                @for (var star = 1; star <= 5; star++)
                {
                    <div class="flex items-center me-4">
                        @Html.RadioButtonFor(m => m.Rating, star, new { id = star, @class = "w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-primary-300 focus:ring-2" })
                        @Html.Label(star.ToString(), star.ToString(), new { @class = "ms-2 text-sm font-medium text-gray-900" })
                        <span asp-validation-for="Rating" class="text-red-900"></span>
                    </div>
                }
            </div>
        </div>
        <div class="mb-4">
            <label asp-for="Content" class="block mb-1">Message</label>
            <smart-textarea 
                id="Content"
                name="Content"
                user-role="@userRole"
                rows="3" 
                placeholder="Your review helps other customers to make a decision"
                class="block w-full rounded-md border-0 py-3 px-3 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-primary-300 sm:text-sm sm:leading-6 resize-none"/>
            <span asp-validation-for="Content" class="text-red-900"></span>
        </div>
        <button type="submit" class="text-white mt-4 sm:mt-0 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none flex items-center justify-center">
            Submit
        </button>
    </form>
</div>