@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RookieShop.Storefront.Areas.Product.Models.Products.ListProductsViewModel

@{
    ViewBag.Title = "Products";
    Layout = "~/Areas/Product/Views/Shared/_ProductSubLayout.cshtml";
}

@if (Model.Products.Count == 0)
{
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="mt-6">
                <p class="text-center text-2xl font-semibold text-gray-900">No products found</p>
            </div>
        </div>
    </div>
}
else
{
    <div class="bg-white">
        <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
                @foreach (var product in Model.Products)
                {
                    <div class="group relative">
                        <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75">
                            <img asp-append-version="true" 
                                 loading="lazy" 
                                 src="@(product.ImageUrl ?? "~/imgs/product/default-preview-image.png")" 
                                 alt="@product.Name" 
                                 class="h-full w-full lg:h-full lg:w-full object-cover object-center lg:object-cover lg:object-center" />
                        </div>
                        <div class="mt-4 flex justify-between">
                            <div>
                                <h3 class="text-sm text-gray-700">
                                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                                        <span aria-hidden="true" class="absolute inset-0"></span>
                                        @product.Name
                                    </a>
                                </h3>
                            </div>
                            <div class="flex flex-col items-end">
                                @if (product.Quantity > 0)
                                {
                                    <p class="text-sm font-medium text-gray-500 line-through">
                                        @($"{product.Price.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))}")
                                    </p>
                                    <p class="text-sm font-medium text-gray-900">
                                        @($"{product.PriceSale.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))}")
                                    </p>
                                }
                                else
                                {
                                    <p class="text-sm font-medium text-red-900">Out of stock</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="mt-6 max-w-2xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <partial name="_PaginationPartial" model="Model.PagedInfo"/>
    </div>
}