@using RookieShop.Storefront.Areas.User.Models
@model RookieShop.Storefront.Areas.User.Models.CustomerViewModel

@{
    ViewBag.Title = "My Account";
    Layout = "~/Views/Shared/_SettingsSubLayout.cshtml";
}

<div class="p-2 md:p-4">
    <div class="w-full px-6 pb-8 mt-8 sm:max-w-xl sm:rounded-lg">
        <h2 class="pl-6 text-2xl font-bold sm:text-xl">Public Profile</h2>
        <div class="grid max-w-2xl mx-auto">
            <form asp-area="User" asp-controller="Account" asp-action="Update" asp-antiforgery="true">
                <div class="items-center mt-8 sm:mt-14 text-[#202142]">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Id" value="@Model.Id"/>
                    <input type="hidden" asp-for="AccountId" value="@Model.AccountId"/>
                    <div class="mb-2 sm:mb-6">
                        <label asp-for="Name"class="block mb-2 text-sm font-medium text-indigo-900">Your name</label>
                        <input asp-for="Name"
                               type="text"
                               value="@Model.Name"
                               class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                               placeholder="Your Name" required>
                        <span asp-validation-for="Name" class="text-red-900"></span>
                    </div>
                    <div class="mb-2 sm:mb-6">
                        <label asp-for="Email"class="block mb-2 text-sm font-medium text-indigo-900">Your email</label>
                        <input type="email"asp-for="Email"value="@Model.Email"
                               class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5" placeholder="your.email@mail.com" required>
                        <span asp-validation-for="Email" class="text-red-900"></span>
                    </div>
                    <div class="mb-2 sm:mb-6">
                        <label asp-for="Phone"class="block mb-2 text-sm font-medium text-indigo-900">Your phone number</label>
                        <input asp-for="Phone" type="tel" value="@Model.Phone"
                               class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5 " placeholder="0123456789" required>
                        <span asp-validation-for="Phone" class="text-red-900"></span>
                    </div>
                    <div class="mb-6">
                        <label asp-for="Gender" class="block mb-2 text-sm font-medium text-indigo-900">Gender</label>
                        <select asp-for="Gender"
                                class="bg-indigo-50 border text-indigo-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
                                required>
                            <option value="@Gender.Male">@Gender.Male</option>
                            <option value="@Gender.Female">@Gender.Female</option>
                            <option value="@Gender.Other">@Gender.Other</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-red-900"></span>
                    </div>
                    <div class="flex justify-end">
                        <button id="#submit-btn"
                                type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script>
        $(document).ready(function () {
            $("#submit-btn").on("click", function () {
                Swal.fire({
                    title: "Are you sure?",
                    text: "You are about to update your personal information.",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, update it!",
                    cancelButtonText: "No, cancel!",
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#submit-btn").submit();
                    }
                });
            });
        });
    </script>
}