@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RookieShop.Storefront.Areas.Basket.Models.CartDetailRender

<div class="flex flex-col min-[500px]:flex-row min-[500px]:items-center gap-5 py-6 border-b border-gray-200 group">
    <div class="w-full md:max-w-[126px]">
        <img loading="lazy" src="@(Model.Product.ImageUrl ?? "~/imgs/product/default-preview-image.png")" alt="perfume bottle image"
             class="mx-auto" asp-append-version="true"/>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 w-full">
        <div class="md:col-span-2">
            <div class="flex flex-col max-[500px]:items-center gap-3">
                <h6 class="font-semibold text-base leading-7 text-black">@Model.Product.Name</h6>
                <h6 class="font-medium text-base leading-7 text-gray-600 transition-all duration-300 group-hover:text-indigo-600">
                    @Model.Product.PriceSale.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))
                </h6>
            </div>
        </div>
        <div class="flex items-center max-[500px]:justify-center h-full max-md:mt-3">
            <div class="flex items-center h-full">
                <input type="number"
                       asp-for="Quantity"
                       class="border-y border-gray-200 outline-none text-gray-900 font-semibold text-lg w-full max-w-[73px] min-w-[60px] placeholder:text-gray-900 py-[15px]  text-center bg-transparent"
                       value="@Model.Quantity"
                       placeholder="1"/>
            </div>
        </div>
        <div class="flex items-center max-[500px]:justify-center md:justify-end max-md:mt-3 h-full">
            <p class="font-bold text-lg leading-8 text-gray-600 text-center transition-all duration-300 group-hover:text-indigo-600 pr-4">
                @Model.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))
            </p>
            <div class="transition-opacity duration-300 opacity-0 group-hover:opacity-100">
                <a class="text-red-500 hover:text-red-700 cursor-pointer remove-item-btn"
                   data-id="@Model.Product.Id"
                   hx-post="@Url.Action("DeleteItem", "Basket", new { area = "Basket", id = Model.Product.Id })"
                   hx-target="#basket"
                   hx-trigger="confirmed"
                   onClick="Swal.fire({
                                title: 'Are you sure?' ,
                                text: 'Do you want to continue?',
                                icon: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6' ,
                                cancelButtonColor: '#d33' ,
                                confirmButtonText: 'Yes, delete it!'
                            }).then((result)=>{
                                if(result.isConfirmed){
                                    htmx.trigger(this, 'confirmed');
                                    toastr.success('Item removed from cart');
                                } 
                            })">
                    Remove
                </a>
            </div>
        </div>
    </div>
</div>